@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

body {
  overscroll-behavior-y: contain;
}


.MuiTablePagination-selectLabel {
  margin-bottom: 0px;
}

.MuiTablePagination-displayedRows {
  margin-bottom: 0px;
}



:root {
  --light: #eee;
  --sabbia: #f8dcb5;
  --darker: #262336;
  --blue: #61DAFB;
  --green: #2AC900;
  --greenHo: #39A675;
  --red: #FD2B38;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.delayed {
  transition: all 0.2s;
  transition-delay: 1000ms;
}

.delayed:active {
  transition: none;
}

.cursor-pointer{
  cursor: pointer;
}


.transparentInput .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: gray; /* Colore del bordo */
}

.transparentInput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: gray; /* Colore del bordo quando si passa il mouse */
}

.transparentInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: gray; /* Colore del bordo quando è in focus */
}


.p{
  cursor: pointer;
  margin: 20px;
}

.titlePage{
  padding: 6px 15px 6px 5px;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 0px;
  }

.divPrincipale{
  height: 92vh;
}

.logoMini{
  clip-path: inset(2px 0px 20px 0px);
  position: relative;
  top: 8.5px;
}


.css-10hburv-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  display: block;
}

.quill {
  background-color: #F1F1F1; 
  border-radius: 10px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quill-editor .ql-toolbar {
  background-color: #F1F1F1; 
  font-size: 1.8rem;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

.quill-editor .ql-editor {
  background-color: white; 
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 70vh;
  font-size: 1.4rem;
}

.navLink {
  cursor: pointer; 
  font-size: 18px;
}

.navLink.active {
  font-weight: bold;
}

.navButton.active {
  font-weight: bold;
}

.scroll-container {
  height: 70vh;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  cursor: grab; /* Feedback visivo */
}

.scroll-container:active {
  cursor: grabbing; /* Durante il drag */
}

.scroll-container::-webkit-scrollbar {
  display: none; 
}

.addAppunti, .homeMaterie, .flashIndex {
  border: 1px dashed black;
  padding: 80px 10px 210px 10px;
  text-align: center;
  width: 350px; 
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  flex-shrink: 0;
}

.flashIndex {
  display: inline-block;
  user-select: none;
  width: 350px;
  border: 1px white;
  padding: 80px 10px 0px 10px;
  height: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  flex-shrink: 0;
}

.homeMaterie {
  background-image: linear-gradient(102deg, #8300e9 30%, #6531EF 65%, #3483f9);
  color: white;
  border: 1px white;
  
}


.addAppunti:hover, .flashIndex:hover {
  background-color: #F1F1F1;
}

.css-a7tnn1-MuiFormControl-root-MuiTextField-root input[type="color"] {
  padding: 7px
}

.fakeLink {
  cursor: pointer; 
  text-decoration: underline;
}

.selctedDiv{
  display: inline-flex;
  width: fit-content;
  padding: 8px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #F1F1F1;
  cursor: pointer;
}

.selctedDiv:hover {
  background-color: #E7E7E7;
}

.divBigFla{
  width: 90%;
  margin-top: 80px;
  min-height: 250px;
}

.divFlash{
  background-color: #F1F1F1;
  width: 100%;
  user-select: none;
  min-height: 250px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.divFlash:hover{
  background-color: #E7E7E7;
}

.buttonFlash{
  width: 20%;
  height: 60px;
}

.divButtonFlash{
  width: 70%;
}

@media (max-width: 768px) {
  .divButtonFlash{
    width: 90%;
  }
  .buttonFlash{
    height: 60px;
    width: 110px;
  }
  
}